.card{
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 1px black;
    display:inline-block;
    background-image: url("./Memorygameimages/texture.jpg") ;
}
.body{
    background-image: url("./Memorygameimages/bg.jpg");
    background-size: cover;

}

.container-fluid{
margin-bottom: 47px;
}
