.card{
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: 1em;
    border: 1px black;
    display:inline-block;
    background-image: url("./Memorygameimages/texture.jpg") ;
}
.body{
    background-image: url("./Memorygameimages/bg.jpg");
    background-size: cover;

}

.container-fluid{
margin-bottom: 47px;
}


.playagain{
    margin-left: 1507px;
    margin-top: 40px;
    color: white;
    background-color: maroon;
    font-family: calibri;
    font-size: 20px;
    border-radius: 9px;
    height: 40px;
    width: 140px;
}



.bekindrewind{
    display: none;
}
.cardCollection{
    max-width: 925px;
    text-align: center;
    align-content: center;
    margin: 0 25% 0 25%;
}